+++
title = "{{ name }}"
tags = [
  "{{ type }}"
]
date = "{{ datetime }}"
categories = [
    "{{ type }}"
]
+++

{{ summary }}

**Plats**: [{{ location['name'] }}](http://www.google.com/maps/place/{{ location['gps'] }})

**Länk**: [Till polisen]({{ url }})
